@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	--line-color: #e5e7eb;
}

html.dark {
	--line-color: rgba(255, 255, 255, 0.1);
}

@utility borderBlack {
	border-width: 1px;
	border-color: rgb(0 0 0 / 0.1);
}
